@page
@model BookwormsOnlineAssignment.Pages.Error._400Model
@{
	ViewData["title"] = "Bad request";
}

<div class="container" style="text-align: center; color: #888;">
	<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">400</h1>
	<p style="font-size: 50px; ">Bad request</p>
	<p>The request was malformed.</p>
	<p><a href="../Login">Navigate back to the login page</a></p>
</div>